<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>description</key>
	<string>Statically typed, imperative programming language</string>
	<key>name</key>
	<string>Nim</string>
	<key>uuid</key>
	<string>126B2BEF-74BC-4D2F-907F-95C4A05A7A04</string>
</dict>
</plist>
